.interna_produtos {
	background: url("../img/bg-sobre-pipoca.jpg") no-repeat center;
	background-size: cover;
}


/* Produtos Personalizados */




.produtos_perso_lista li {
	background: #885570;  /* #885570*/
	text-align: center;
	margin-bottom: 20px;
	border-radius: 20px 20px 20px 20px;
}

.produtos_perso_lista li h3 {
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	color: #EDE7EE;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.perso_icone img {
	max-width:  100%;
	max-height: 200%;
	border-radius: 20px 20px 0px 0px ; 
}


.produtos_personalizados {
	width: 100%;
	background: #fff;
	padding: 40px 0;
}


.produtos_perso_lista li img {
	max-width: 100%;
}


.produtos_perso .subtitulo {
	color: #EDE7EE;
	margin-bottom: 60px;
}


.produtos_perso .subtitulo:after {
	background: #EDE7EE;
}


.produtos_perso_lista li:last-child {
	margin-top: 20px;
}



/*.divisor {
	margin-left: 25px;
	margin-right: 10px;
}
