/* Estilos Gerais*/

body {
	font-family: Arial, Helvetica, sans-serife;
}

p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
img {
	display: block;
	
}

.produtos_icone img {
	display: inline-block;
}

.btn {
	border: 3px solid #3D2340; 
	border-radius: 20px;
	padding: 10px 30px;
	color: #EDE7EE;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.btn2 {
	border: 3px solid #3D2340; 
	border-radius: 20px;
	padding: 10px 30px;
	color: #3D2340;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.btn:hover {
	color: #3D2340;
	background: #885570;
	border-color: #EDE7EE;
}

.btn2.btn-preto:hover {
	color:#EDE7EE;
	background: #885570;
	border-color: #3D2340;
}


.subtitulo {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .2em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #000;
	margin: 8px auto;
}


.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #000;
	margin: 8px 0;
}


/* Estilos Header*/

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #EDE7EE; /* Rosa do site*/
	padding: 15px 0;
	z-index: 10;
}

.header_menu {
	text-align: right; 
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 35px;
}

.header_menu ul li a {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 15px 0;
	
}

.header_menu ul li a:hover {
	color: #885570;
}

.header_menu ul li a.menu_ativo {
	color: #885570;
}



/* Estilos Introducao*/

.introducao {
	width: 100%;
	height: 675px;
	background: url("../img/bg-intro.png") no-repeat center;
	background-size: cover;
	margin-top: 120px;
	text-align: center;
	padding-top: 120px;
}


.introducao h1 {
	font-family: 'Poiret One', cursive;
	font-size: 52px;
	color: #EDE7EE;     /* Cor do título #EDE7EE */
	text-shadow: 2px 2px #000;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-top: 50px;    			/*Espaçamento entre quote, titulo e botão */
	margin-bottom: 50px;			/*Espaçamento entre quote, titulo e botão */
	color:#fff;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #fff;
	margin: 14px auto 10px auto;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px; 
	letter-spacing: .1em;
}

/* Introducao Interna */

.introducao-interna {
	width: 100%;
	margin-top: 120px;
	height: 160px;
	text-align: center;
	color: #fff;
	padding-top: 30px;
}

.introducao-interna h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #fff;
	margin: 6px auto 10px auto;
}

/* Produtos */

.produtos {
	padding: 40px 0;
}

.produtos .subtitulo {
	padding-bottom: 40px;
	
}

.produtos_lista li {
	background: #885570;  /* #885570*/
	text-align: center;
	border-radius: 20px 20px 20px 20px;

}

.produtos_lista li h3 {
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	color: #EDE7EE;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-top: 20px;
	
}

.produtos_lista li h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #CEE4E5;
	margin: 2px auto;
} 

.produtos_lista li p {
	padding: 10px 20px 20px 20px;
	color: #EDE7EE;
	text-align: center;
}

/*.produtos_icone {
	background: #CEE4E5;
	text-align: center;
} */

.produtos_icone img {
	max-width:  100%;
	max-height: 200%;
	border-radius: 20px 20px 0px 0px ; 
}

.call {
	padding: 40px;
	text-align: center;
	clear: both;
}

.call p {
	margin-bottom: 40px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	
}

/* Produtos-2 */

.produtos-2 {
	width: 100%;
	background: #885570;
	padding: 40px 0;
}


.produtos-2_lista li img {
	max-width: 100%;
}


.produtos-2 .subtitulo {
	color: #EDE7EE;
	margin-bottom: 60px;
}


.produtos-2 .subtitulo:after {
	background: #EDE7EE;
}


.produtos-2_lista li:last-child {
	margin-top: 20px;
}


.produtos-2 .call p{
	color: #fff;
}



/* Quebra */


.quebra {
	width: 100%;
	height: 220px;
	background: url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.quebra .quote-externo{
	max-width: 300px;
	
	
}


/* Footer */

.footer {
	width: 100%;
	background: #885570;
	color: #fff;
	padding: 20px; 
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: #EDE7EE;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	text-shadow: 2px 2px #000;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #EDE7EE; 
	margin: 6px 0 12px 0;
}

/* .footer_historia {
	padding-right: 40px; 
} */

.footer_contato li {
	font-size: 16px;
	line-height: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #EDE7EE;
	text-shadow: 1px 1px #000;
}


.footer_redes ul li {
	display: inline-block;
	margin-right: 10px;
	
}

.footer_redes ul li a {
	border: 2px solid #EDE7EE;    /* #EDE7EE */
	display: block;
	padding: 8px;
}

.footer_redes ul li a img {
	max-width: 30px;
	max-height: 30px;
}

.footer_redes ul li a:hover {
	border-color: #3D2340;
}

.copy {
	width: 100%;
	color: #EDE7EE;
	background: #000;
	padding: 20px 0;
	text-align: right;
}

/* JAVASCRIPT */

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.js [data-slide-nav] button {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 4px;
	border: none;
	padding: 0px;
	border-radius: 6px;
	text-indent: -99px;
	overflow: hidden;
	background: #1d1d1d;
}

.js [data-slide-nav] button.active {
	background: #fec63e;
}

.js [data-anime] {
	opacity: 0;
}

.js .fadeInDown {
	transform: translate3d(0, -20px, 0);
}

.js .anime {
	opacity: 1;
	transform: none;
	transition: opacity 800ms, transform 800ms;
}

.nao-aparece {
	visibility: hidden;
	position: absolute;
	height: 0px;
}

#form-sucesso {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

